<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EichsoftwareAdministrationsClient.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <EichsoftwareAdministrationsClient.My.MySettings>
      <setting name="GridSettingsAuswahllisteEichmarkenverwaltung" serializeAs="String">
        <value />
      </setting>
      <setting name="AktuelleSprache" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="LetzterPfadPruefscheinImport" serializeAs="String">
        <value />
      </setting>
    </EichsoftwareAdministrationsClient.My.MySettings>
  </userSettings>
  <connectionStrings>
    <add name="HerstellerersteichungEntities" connectionString="metadata=res://*/EntityModelDatabaseAdminClient.csdl|res://*/EntityModelDatabaseAdminClient.ssdl|res://*/EntityModelDatabaseAdminClient.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=h2223265.stratoserver.net;initial catalog=Herstellerersteichung;user id=Eichen;password=Eichen2013;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <defaultProxy enabled="false"></defaultProxy>
  </system.net>
</configuration>