<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.net>
    <!--<defaultProxy useDefaultCredentials="true"></defaultProxy>-->
    <defaultProxy enabled="false"></defaultProxy>
  </system.net>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EichsoftwareAdministrationsClient.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <EichsoftwareAdministrationsClient.My.MySettings>
      <setting name="AktuelleSprache" serializeAs="String">
        <value>en-US</value>
      </setting>
    </EichsoftwareAdministrationsClient.My.MySettings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" closeTimeout="00:01:00"   maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647"
   maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://h2223265.stratoserver.net/EichsoftwareWebservice.svc"
        binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
        contract="EichsoftwareWebservice.IEichsoftwareWebservice" name="basicHttpBinding" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="EichsoftwareClientdatabaseEntities1" connectionString="metadata=res://*/EntityModelDatabaseClient.csdl|res://*/EntityModelDatabaseClient.ssdl|res://*/EntityModelDatabaseClient.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=|DataDirectory|\EichsoftwareClientdatabase.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>






